<ion-header>
  <ion-toolbar>
    <ion-title>
      User Registration
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nome: </ion-label>
      <ion-input type="text" [(ngModel)]="usuario.nome" name="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Telefone: </ion-label>
      <ion-input type="text" [(ngModel)]="usuario.telefone" name="telefone"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="floating">Data de Nascimento: </ion-label>
      <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="usuario.dataNascimento" name="dataNascimento"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="usuario.email" name="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input [(ngModel)]="usuario.senha" name="senha" type="password" required></ion-input>
    </ion-item>

  </ion-list>

  <ion-button expand="full" color="primary" (click)="registrarUsuario()">Registrar</ion-button>
  <br>
  <ion-button expand="full" color="primary" routerLink="">Voltar</ion-button>

</ion-content>
