<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ listaInicial.nome }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let exercicio of listaInicial.listaDeExercicios">
          <ion-label>{{ exercicio.nome }}</ion-label>
          <ion-label>Categoria Muscular: {{ exercicio.categoriaMuscular }}</ion-label>
          <ion-label>Repetições: {{ exercicio.repeticoes }}</ion-label>
          <ion-label>Séries Restantes: {{ exercicio.series }}</ion-label>
          <ion-label>Intervalo: {{ exercicio.intervalo }}</ion-label>
          <ion-button (click)="abrirTimer(exercicio.intervalo)">Feito!</ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-card-content>
      <ion-button expand="full" color="primary" routerLink="/ficha-exercicio">Voltar</ion-button>
      <ion-item>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>