<ion-content>

    <ion-item>
      <ion-label position="floating">Login</ion-label>
      <ion-input type="text" [(ngModel)]="email"></ion-input>

      
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="text" [(ngModel)]="senha"></ion-input>

    </ion-item>

    <ion-content>
      <ion-button color="primary" expand="full" (click)="logar()">Logar</ion-button>
      <ion-button color="primary" expand="full" routerLink="/usuario-novo">Novo Usuario</ion-button>
    </ion-content>

</ion-content>
